<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/css/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body class="vsc-initialized">
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please log in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   placeholder="Username"
                   required
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
</div>
<br>
<br>
<div th:text="${message}" style="text-align: center"></div>
<br>

<div class="container">
    <form class="form-signin" method="post" action="/registration">
        <h2 class="form-signin-heading">Or register</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   placeholder="Username"
                   required>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   required>
        </p>
        <p>
            <label for="email" class="sr-only">Username</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-control"
                   placeholder="Email"
                   required>
        </p>
        <p>
            <label for="birthDate" class="sr-only">Username</label>
            <input type="date"
                   id="birthDate"
                   name="birthDate"
                   class="form-control"
                   placeholder="Birth date"

                   required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
</body>
</html>